<h1>Application Details</h1>
<br/>
<h2>Name: <%= @application.name %></h2>
<p>Street Address: <%= @application.street_address %> </p>
<p>City, State: <%= @application.city %>, <%= @application.state %></p>
<p>Zipcode: <%= @application.zip %></p>
<p>Reason for adoption: <%= @application.description %></p>
<p>Application status: <%= @application.status %></p>